doctype html
html.no-js(lang='')
  include includes/head.pug
  body
    // Header Area Start
    include includes/header.pug
    // Header Area End
    // Mobile Menu Start
    include includes/mobile-menu.pug
    // Mobile Menu End
    // Breadcrumbs Area Start
    include includes/breadcrumbs.pug
    // Breadcrumbs Area Start
    // My Account Area Start
    .my-account-area.section-padding
      .container
        .section-title2
          h2 Account Profile
          p
            | Welcome to your account. Here you can manage all of your personal information and preferences.
        .row
          .addresses-lists
            .col-xs-12.col-sm-6.col-lg-6
              #accordion.panel-group(role='tablist', aria-multiselectable='true')
                .panel.panel-default
                  #headingOne.panel-heading(role='tab')
                    h4.panel-title
                      a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
                        i.fa.fa-building
                        span My personal information
                  #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                    .panel-body
                      .coupon-info
                        h1.heading-title Your personal information
                        p.coupon-text Please be sure to fill up your personal information.
                        //- p.required *Required field
                        form(action='/account', method='post')
                          .form-row
                            label
                              span.required 
                              | Gender
                            .radio-inline
                              label.top
                                span.checked
                                  input(type='radio' name='gender' value='Male')
                                | 																Male
                            .radio-inline
                              label.top
                                span.checked
                                  input(type='radio' name='gender' value='Female')
                                | 																Female
                          p.form-row
                            input(type='text', placeholder='Your Full Name *' name='fullname' required='')
                          p.form-row
                            input(type='text', placeholder='E-mail address' name='email' required='')
                          .country-select.shop-select
                            label Which age range do you belong to?
                            .row
                              .col-xs-4
                                select(name='age')
                                  option 11 or below
                                  option 12 - 17
                                  option 18 - 24
                                  option 25 - 34
                                  option 35 or above
                          .country-select.shop-select
                            label Choose your top three favorite genres. 
                            .row
                              .col-xs-4
                                select(name='genre1')
                                  option Adventure
                                  option Children's
                                  option Classics
                                  option Comics
                                  option Fantasy
                                  option Fiction
                                  option Historical Fiction
                                  option Historical
                                  option Horror
                                  option Humor
                                  option Mystery
                                  option Nonfiction
                                  option Psychology
                                  option Romance
                                  option Science Fiction
                                  option Sports
                                  option Thriller
                                  option Travel
                                  option Young Adult
                              .col-xs-4
                                select(name='genre2')
                                  option Children's
                                  option Adventure
                                  option Classics
                                  option Comics
                                  option Fantasy
                                  option Fiction
                                  option Historical Fiction
                                  option Historical
                                  option Horror
                                  option Humor
                                  option Mystery
                                  option Nonfiction
                                  option Psychology
                                  option Romance
                                  option Science Fiction
                                  option Sports
                                  option Thriller
                                  option Travel
                                  option Young Adult
                              .col-xs-4
                                select(name='genre3')
                                  option Science Fiction
                                  option Adventure
                                  option Children's
                                  option Classics
                                  option Comics
                                  option Fantasy
                                  option Fiction
                                  option Historical Fiction
                                  option Historical
                                  option Horror
                                  option Humor
                                  option Mystery
                                  option Nonfiction
                                  option Psychology
                                  option Romance
                                  option Sports
                                  option Thriller
                                  option Travel
                                  option Young Adult
                          .submit
                            button#submitcreate.btn-default(name='submitcreate', type='submit')
                              span
                                |                                         SAVE
                                i.fa.fa-chevron-right
                          //- a.btn.button.button-small(title='Save', href='*')
                          //-   span
                          //-     | Save
                          //-     i.fa.fa-chevron-right
            .col-xs-12.col-sm-6.col-lg-6
              .myaccount-link-list
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(href='/wishlist')
                        i.fa.fa-heart
                        span My wishlists
                .panel.panel-default
                  #headingTwo.panel-heading(role='tab')
                    h4.panel-title
                      a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                        i.fa.fa-file-o
                        span Account Info
                  #collapseTwo.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingTwo')
                    .panel-body
                      .coupon-info
                          h4 Full Name : #{profile[0].profileInfo[0].fullname}
                          p Email : #{profile[0].profileInfo[0].email}
                          p Gender : #{profile[0].profileInfo[0].gender}
                          p Age Range : #{profile[0].profileInfo[0].age_range}
                          h4 Preferred Genres: 
                          p #{profile[0].profileInfo[0].genre1}
                          p #{profile[0].profileInfo[0].genre2}
                          p #{profile[0].profileInfo[0].genre3}                              
        .row
          .col-md-12
            .create-account-button.pull-left
              a.btn.button.button-small(href='/home', title='Home')
                span
                  i.fa.fa-chevron-left
                  | 									  Home
    // My Account Area End
    // Footer Area Start
    include includes/footer.pug
