doctype html
html.no-js(lang='')
  include includes/head.pug
  body
    // Header Area Start
    include includes/header.pug
    // Header Area End
    // Mobile Menu Start
    include includes/mobile-menu.pug
    // Mobile Menu End
    // Breadcrumbs Area Start
    include includes/breadcrumbs.pug
    // Breadcrumbs Area Start
    // Shop Area Start
    .shopping-area.section-padding
      .container
        .row
          .col-md-3.col-sm-3.col-xs-12
            .shop-widget
              .shop-widget-top
                aside.widget.widget-categories
                  h2.sidebar-title.text-center CATEGORY
                  ul.sidebar-menu
                    li
                      a(href='/browse/youngadult')
                        i.fa.fa-angle-double-right
                        |                                                 YOUNG ADULT                                          
                        span (1567)
                    li
                      a(href='/browse/sciencefiction')
                        i.fa.fa-angle-double-right
                        |                                                 SCIENCE FICTION                                            
                        span (682)
                    li
                      a(href='/browse/classics')
                        i.fa.fa-angle-double-right
                        |                                                CLASSICS
                        span (1103)
                    li
                      a(href='/browse/fantasy')
                        i.fa.fa-angle-double-right
                        |                                                 FANTASY                                          
                        span (2006)
              .shop-widget-bottom
                aside.widget.widget-seller
                  h2.sidebar-title TOP SELLERS
                  .single-seller
                    .seller-img
                      img(src="https://images.gr-assets.com/books/1447303603l/2767052.jpg", alt='')
                    .seller-details
                      a(href='/book')
                        h5 The Hunger Games
                      h5 Suzanne Collins
                  .single-seller
                    .seller-img
                      img(src="https://images.gr-assets.com/books/1255614970l/2.jpg", alt='')
                    .seller-details
                      a(href='/book')
                        h5 Harry Potter and the Order of the Phoenix
                      h5 J.K. Rowling
          .col-md-9.col-sm-9.col-xs-12
            .shop-tab-area
              .shop-tab-list
                .shop-tab-pill.pull-left
                  ul
                    li#left.active
                      a(data-toggle='pill', href='#home')
                        i.fa.fa-th
                        span Grid
                    li
                      a(data-toggle='pill', href='#menu1')
                        i.fa.fa-th-list
                        span List
              .tab-content
                #home.row.tab-pane.fade.in.active
                  .shop-single-product-area
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src=book[0].image_url)
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='/book') #{book[0].title}
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src=book[1].image_url)
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='/book') #{book[1].title}
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src=book[2].image_url)
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='/book') #{book[2].title}
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src=book[3].image_url)
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='/book') #{book[3].title}
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src=book[4].image_url)
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='/book') #{book[4].title}
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src=book[5].image_url)
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='/book') #{book[5].title}
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src=book[6].image_url)
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='/book') #{book[6].title}
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src=book[7].image_url)
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='/book') #{book[7].title}
                    .col-md-4.hidden-sm
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src=book[8].image_url)
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='/book') #{book[8].title}
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src=book[9].image_url)
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='/book') #{book[9].title}
                    .col-md-4.col-sm-6
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src=book[10].image_url)
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='/book') #{book[10].title}
                    .col-md-4.hidden-sm
                      .single-banner
                        .product-wrapper
                          a.single-banner-image-wrapper(href='#')
                            img(alt='', src=book[11].image_url)
                          .product-description
                            .functional-buttons
                              a(href='#', title='Add to Wishlist')
                                i.fa.fa-heart-o
                              a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                                i.fa.fa-compress
                        .banner-bottom.text-center
                          .banner-bottom-title
                            a(href='/book') #{book[11].title}
                #menu1.tab-pane.fade
                  .row
                    .single-shop-product
                      .col-xs-12.col-sm-5.col-md-4
                        .left-item
                          a(href='/book', title='')
                            img(src=book[0].image_url, alt='')
                      .col-xs-12.col-sm-7.col-md-8
                        .deal-product-content
                          h4
                            a(href='/book', title='') #{book[0].title}
                          p
                            | #{book[0].description}
                          //- .availability
                          //-   span In stock
                          //-   span
                          //-     a(href='cart.html') Add to cart
                    .single-shop-product
                      .col-xs-12.col-sm-5.col-md-4
                        .left-item
                          a(href='/book', title='')
                            img(src=book[1].image_url, alt='')
                      .col-xs-12.col-sm-7.col-md-8
                        .deal-product-content
                          h4
                            a(href='/book', title='') #{book[1].title}
                          p
                            | #{book[1].description}
                    .single-shop-product
                      .col-xs-12.col-sm-5.col-md-4
                        .left-item
                          a(href='/book', title='')
                            img(src=book[2].image_url, alt='')
                      .col-xs-12.col-sm-7.col-md-8
                        .deal-product-content
                          h4
                            a(href='/book', title='') #{book[2].title}
                          p
                            | #{book[2].description}
                    .single-shop-product
                      .col-xs-12.col-sm-5.col-md-4
                        .left-item
                          a(href='/book', title='')
                            img(src=book[3].image_url, alt='')
                      .col-xs-12.col-sm-7.col-md-8
                        .deal-product-content
                          h4
                            a(href='/book', title='') #{book[3].title}
                          p
                            | #{book[3].description}
                    .single-shop-product
                      .col-xs-12.col-sm-5.col-md-4
                        .left-item
                          a(href='/book', title='')
                            img(src=book[4].image_url, alt='')
                      .col-xs-12.col-sm-7.col-md-8
                        .deal-product-content
                          h4
                            a(href='/book', title='') #{book[3].title}
                          p
                            | #{book[4].description}
                    .single-shop-product
                      .col-xs-12.col-sm-5.col-md-4
                        .left-item
                          a(href='/book', title='')
                            img(src=book[5].image_url, alt='')
                      .col-xs-12.col-sm-7.col-md-8
                        .deal-product-content
                          h4
                            a(href='/book', title='') #{book[0].title}
                          p
                            | #{book[5].description}
                          //- .availability
                          //-   span In stock
                          //-   span
                          //-     a(href='cart.html') Add to cart
                    .single-shop-product
                      .col-xs-12.col-sm-5.col-md-4
                        .left-item
                          a(href='/book', title='')
                            img(src=book[6].image_url, alt='')
                      .col-xs-12.col-sm-7.col-md-8
                        .deal-product-content
                          h4
                            a(href='/book', title='') #{book[1].title}
                          p
                            | #{book[6].description}
                    .single-shop-product
                      .col-xs-12.col-sm-5.col-md-4
                        .left-item
                          a(href='/book', title='')
                            img(src=book[7].image_url, alt='')
                      .col-xs-12.col-sm-7.col-md-8
                        .deal-product-content
                          h4
                            a(href='/book', title='') #{book[2].title}
                          p
                            | #{book[7].description}
                    .single-shop-product
                      .col-xs-12.col-sm-5.col-md-4
                        .left-item
                          a(href='/book', title='')
                            img(src=book[8].image_url, alt='')
                      .col-xs-12.col-sm-7.col-md-8
                        .deal-product-content
                          h4
                            a(href='/book', title='') #{book[3].title}
                          p
                            | #{book[8].description}
                    .single-shop-product
                      .col-xs-12.col-sm-5.col-md-4
                        .left-item
                          a(href='/book', title='')
                            img(src=book[9].image_url, alt='')
                      .col-xs-12.col-sm-7.col-md-8
                        .deal-product-content
                          h4
                            a(href='/book', title='') #{book[3].title}
                          p
                            | #{book[9].description}
                    .single-shop-product
                      .col-xs-12.col-sm-5.col-md-4
                        .left-item
                          a(href='/book', title='')
                            img(src=book[10].image_url, alt='')
                      .col-xs-12.col-sm-7.col-md-8
                        .deal-product-content
                          h4
                            a(href='/book', title='') #{book[3].title}
                          p
                            | #{book[10].description}
                    .single-shop-product
                      .col-xs-12.col-sm-5.col-md-4
                        .left-item
                          a(href='/book', title='')
                            img(src=book[11].image_url, alt='')
                      .col-xs-12.col-sm-7.col-md-8
                        .deal-product-content
                          h4
                            a(href='/book', title='') #{book[3].title}
                          p
                            | #{book[11].description}
    // Shop Area End
    // Footer Area Start
    include includes/footer.pug