doctype html
html
  include includes/head.pug
  body
    include includes/header.pug
    // Header Area End
    // Mobile Menu Start
    include includes/mobile-menu.pug
    // Mobile Menu End
    // slider Area Start
    .slider-area
      .bend.niceties.preview-1
        #ensign-nivoslider.slides
          img(src='img/background-2.jpg', alt='', title='#slider-direction-1')
          img(src='img/background.jpeg', alt='', title='#slider-direction-2')
        // direction 1
        #slider-direction-1.text-center.slider-direction
          // layer 1
          .layer-1
            h2.title-1 LET’S WRITE IMAGINE
          // layer 2
          .layer-2
            p.title-2
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          // layer 4
          .layer-4
            form.title-4(action='/home', method='post')
              input(type='text', placeholder='Enter your book title here' name='search')
              button(type='submit')
                i.fa.fa-search
    // slider Area End
    // Featured Product Area Start
    .featured-product-area.section-padding
      h2.section-title FEATURED PRODUCTS
      .container
        .row
          .col-md-12
            .tab-menu
              // Nav tabs
              ul.nav.nav-tabs(role='tablist')
                li.first-item.active(role='presentation')
                  a(href='#arrival', aria-controls='arrival', role='tab', data-toggle='tab') TOP RECOMMENDATIONS
        .row
          .product-list.tab-content
            #arrival.tab-pane.fade.in.active(role='tabpanel')
              .featured-product-list.indicator-style
                .single-p-banner
                  .col-md-3
                    .single-banner
                      .product-wrapper
                        a.single-banner-image-wrapper(href='#')
                          img(alt='', src=book[0].image_url)
                        .product-description
                          .functional-buttons
                            a(href='#', title='Add to Wishlist')
                              i.fa.fa-heart-o
                            a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                              i.fa.fa-compress
                      .banner-bottom.text-center
                        a(href='#') #{book[0].title}
                  .col-md-3
                    .single-banner
                      .product-wrapper
                        a.single-banner-image-wrapper(href='#')
                          img(alt='', src=book[1].image_url)
                        .product-description
                          .functional-buttons
                            a(href='#', title='Add to Wishlist')
                              i.fa.fa-heart-o
                            a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                              i.fa.fa-compress
                      .banner-bottom.text-center
                        a(href='#') #{book[1].title}
                .single-p-banner
                  .col-md-3
                    .single-banner
                      .product-wrapper
                        a.single-banner-image-wrapper(href='#')
                          img(alt='', src=book[2].image_url)
                        .product-description
                          .functional-buttons
                            a(href='#', title='Add to Wishlist')
                              i.fa.fa-heart-o
                            a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                              i.fa.fa-compress
                      .banner-bottom.text-center
                        a(href='#') #{book[2].title}
                  .col-md-3
                    .single-banner
                      .product-wrapper
                        a.single-banner-image-wrapper(href='#')
                          img(alt='', src=book[3].image_url)
                        .product-description
                          .functional-buttons
                            a(href='#', title='Add to Wishlist')
                              i.fa.fa-heart-o
                            a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                              i.fa.fa-compress
                      .banner-bottom.text-center
                        a(href='#') #{book[3].title}
                .single-p-banner
                  .col-md-3
                    .single-banner
                      .product-wrapper
                        a.single-banner-image-wrapper(href='#')
                          img(alt='', src=book[4].image_url)
                        .product-description
                          .functional-buttons
                            a(href='#', title='Add to Wishlist')
                              i.fa.fa-heart-o
                            a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                              i.fa.fa-compress
                      .banner-bottom.text-center
                        a(href='#') #{book[4].title}
                  .col-md-3
                    .single-banner
                      .product-wrapper
                        a.single-banner-image-wrapper(href='#')
                          img(alt='', src=book[5].image_url)
                        .product-description
                          .functional-buttons
                            a(href='#', title='Add to Wishlist')
                              i.fa.fa-heart-o
                            a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                              i.fa.fa-compress
                      .banner-bottom.text-center
                        a(href='#') #{book[5].title}
                .single-p-banner
                  .col-md-3
                    .single-banner
                      .product-wrapper
                        a.single-banner-image-wrapper(href='#')
                          img(alt='', src=book[6].image_url)
                        .product-description
                          .functional-buttons
                            a(href='#', title='Add to Wishlist')
                              i.fa.fa-heart-o
                            a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                              i.fa.fa-compress
                      .banner-bottom.text-center
                        a(href='#') #{book[6].title}
                  .col-md-3
                    .single-banner
                      .product-wrapper
                        a.single-banner-image-wrapper(href='#')
                          img(alt='', src=book[7].image_url)
                        .product-description
                          .functional-buttons
                            a(href='#', title='Add to Wishlist')
                              i.fa.fa-heart-o
                            a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                              i.fa.fa-compress
                      .banner-bottom.text-center
                        a(href='#') #{book[7].title}
                .single-p-banner
                  .col-md-3
                    .single-banner
                      .product-wrapper
                        a.single-banner-image-wrapper(href='#')
                          img(alt='', src=book[8].image_url)
                        .product-description
                          .functional-buttons
                            a(href='#', title='Add to Wishlist')
                              i.fa.fa-heart-o
                            a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                              i.fa.fa-compress
                      .banner-bottom.text-center
                        a(href='#') #{book[8].title}
                  .col-md-3
                    .single-banner
                      .product-wrapper
                        a.single-banner-image-wrapper(href='#')
                          img(alt='', src=book[9].image_url)
                        .product-description
                          .functional-buttons
                            a(href='#', title='Add to Wishlist')
                              i.fa.fa-heart-o
                            a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                              i.fa.fa-compress
                      .banner-bottom.text-center
                        a(href='#') #{book[9].title}
                .single-p-banner
                  .col-md-3
                    .single-banner
                      .product-wrapper
                        a.single-banner-image-wrapper(href='#')
                          img(alt='', src=book[10].image_url)
                        .product-description
                          .functional-buttons
                            a(href='#', title='Add to Wishlist')
                              i.fa.fa-heart-o
                            a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                              i.fa.fa-compress
                      .banner-bottom.text-center
                        a(href='#') #{book[10].title}
                  .col-md-3
                    .single-banner
                      .product-wrapper
                        a.single-banner-image-wrapper(href='#')
                          img(alt='', src=book[11].image_url)
                        .product-description
                          .functional-buttons
                            a(href='#', title='Add to Wishlist')
                              i.fa.fa-heart-o
                            a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                              i.fa.fa-compress
                      .banner-bottom.text-center
                        a(href='#') #{book[11].title}
    // Featured Product Area End
    // Blog Area Start
    .blog-area.section-padding
      h2.section-title LATEST BLOG
      p The Latest Blog post for the biggest Blog for the books Library.
      .container
        .row
          .blog-list.indicator-style
            .col-md-3
              .single-blog
                a(href='https://www.goodreads.com/choiceawards/best-young-adult-fiction-books-2019', target='_blank')
                  img(src='img/blog/blog1.jpg', alt='')
                .blog-info.text-center
                  a(href='https://www.goodreads.com/choiceawards/best-young-adult-fiction-books-2019', target='_blank')
                    h2 BEST YOUNG ADULT FICTION
                  .blog-info-bottom
                    span.blog-author
                      | BY: 
                      a(href='https://www.goodreads.com/choiceawards/best-books-2019', target='_blank') goodreads CHOICE AWARDS 2019
                    // <span class="blog-date">2020</span>
            .col-md-3
              .single-blog
                a(href='https://www.goodreads.com/choiceawards/best-romance-books-2019', target='_blank')
                  img(src='img/blog/blog2.jpg', alt='')
                .blog-info.text-center
                  a(href='https://www.goodreads.com/choiceawards/best-romance-books-2019', target='_blank')
                    h2 BEST ROMANCE
                  .blog-info-bottom
                    span.blog-author
                      | BY: 
                      a(href='https://www.goodreads.com/choiceawards/best-books-2019', target='_blank') goodreads CHOICE AWARDS 2019
                    // <span class="blog-date">19TH JAN 2016</span>
            .col-md-3
              .single-blog
                a(href='https://www.goodreads.com/choiceawards/best-mystery-thriller-books-2019', target='_blank')
                  img(src='img/blog/blog3.jpg', alt='')
                .blog-info.text-center
                  a(href='https://www.goodreads.com/choiceawards/best-mystery-thriller-books-2019', target='_blank')
                    h2 BEST MYSTERY & THRILLER
                  .blog-info-bottom
                    span.blog-author
                      | BY: 
                      a(href='https://www.goodreads.com/choiceawards/best-books-2019', target='_blank') goodreads CHOICE AWARDS 2019
                    // <span class="blog-date">19TH JAN 2016</span>
            .col-md-3
              .single-blog
                a(href='https://www.goodreads.com/choiceawards/best-historical-fiction-books-2019', target='_blank')
                  img(src='img/blog/blog4.jpg', alt='')
                .blog-info.text-center
                  a(href='https://www.goodreads.com/choiceawards/best-historical-fiction-books-2019', target='_blank')
                    h2 BEST HISTORICAL FICTION
                  .blog-info-bottom
                    span.blog-author
                      | BY: 
                      a(href='https://www.goodreads.com/choiceawards/best-books-2019', target='_blank') goodreads CHOICE AWARDS 2019
                    // <span class="blog-date">19TH JAN 2016</span>
            .col-md-3
              .single-blog
                a(href='https://www.goodreads.com/choiceawards/best-science-fiction-books-2019', target='_blank')
                  img(src='img/blog/blog5.jpg', alt='')
                .blog-info.text-center
                  a(href='https://www.goodreads.com/choiceawards/best-science-fiction-books-2019', target='_blank')
                    h2 BEST SCIENCE FICTION
                  .blog-info-bottom
                    span.blog-author
                      | BY: 
                      a(href='https://www.goodreads.com/choiceawards/best-books-2019', target='_blank') goodreads CHOICE AWARDS 2019
                    // <span class="blog-date">19TH JAN 2016</span>
            .col-md-3
              .single-blog
                a(href='https://www.goodreads.com/choiceawards/best-young-adult-fantasy-books-2019', target='_blank')
                  img(src='img/blog/blog6.jpg', alt='')
                .blog-info.text-center
                  a(href='https://www.goodreads.com/choiceawards/best-young-adult-fantasy-books-2019', target='_blank')
                    h2 BEST YOUNG ADULT FANTASY & SCIENCE FICTION
                  .blog-info-bottom
                    span.blog-author
                      | BY: 
                      a(href='https://www.goodreads.com/choiceawards/best-books-2019', target='_blank') goodreads CHOICE AWARDS 2019
                    // <span class="blog-date">19TH JAN 2016</span>
    // Blog Area End
    // Footer Area Start
    include includes/footer.pug
