doctype html
html.no-js(lang='')
  include includes/head.pug
  body
    // Header Area Start
    include includes/header.pug
    // Header Area End
    // Mobile Menu Start
    include includes/mobile-menu.pug
    // Mobile Menu End
    // Breadcrumbs Area Start
    include includes/breadcrumbs.pug
    // Breadcrumbs Area Start
    // Single Product Area Start
    .single-product-area.section-padding
      .container
        .row
          .col-md-6.col-sm-7
            .single-product-image-inner
              // Tab panes
              .tab-content
                #one.tab-pane.active(role='tabpanel')
                  a.venobox(href='img/single-product/bg-1.jpg', data-gall='gallery', title='')
                    img(src=book[0].image_url, alt='')
              // Nav tabs
          .col-md-6.col-sm-5
            .single-product-details
              h1= book[0].title
              h4= book[0].author
              .add-to-wishlist
                a.wish-btn(href='cart.html')
                  i.fa.fa-heart-o
                  |                                     ADD TO WISHLIST
              .single-product-categories
                label Categories:
                span #{book[0].content}
      .row
        .col-md-9
          .p-details-tab-content
            .p-details-tab
              ul.p-details-nav-tab(role='tablist')
                li.active(role='presentation')
                  a(href='#more-info', aria-controls='more-info', role='tab', data-toggle='tab') Description
            .clearfix
            .tab-content.review
              #more-info.tab-pane.active(role='tabpanel')
                p
                  | #{book[0].description}
    // Single Product Area End
    // Related Product Area Start
    .related-product-area
      h2.section-title RELATED PRODUCTS
      .container
        .row
          .related-product.indicator-style
            .col-md-3
              .single-banner
                .product-wrapper
                  a.single-banner-image-wrapper(href='/book/' +  book[0].recoms_info[0].title)
                    img(alt='', src=book[0].recoms_info[0].image_url)
                  .product-description
                    .functional-buttons
                      a(href='#', title='Add to Wishlist')
                        i.fa.fa-heart-o
                      //- a(href='#', title='Quick View')
                      //-   i.fa.fa-compress
                .banner-bottom.text-center
                  a(href='/book/' +  book[0].recoms_info[0].title) #{book[0].recoms_info[0].title}
            .col-md-3
              .single-banner
                .product-wrapper
                  a.single-banner-image-wrapper(href='/book/' +  book[0].recoms_info[1].title)
                    img(alt='', src=book[0].recoms_info[1].image_url)
                  .product-description
                    .functional-buttons
                      a(href='#', title='Add to Wishlist')
                        i.fa.fa-heart-o
                      //- a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                      //-   i.fa.fa-compress
                .banner-bottom.text-center
                  a(href='/book/' +  book[0].recoms_info[1].title) #{book[0].recoms_info[1].title}
            .col-md-3
              .single-banner
                .product-wrapper
                  a.single-banner-image-wrapper(href='/book/' +  book[0].recoms_info[2].title)
                    img(alt='', src=book[0].recoms_info[2].image_url)
                  .product-description
                    .functional-buttons
                      a(href='#', title='Add to Wishlist')
                        i.fa.fa-heart-o
                      //- a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                      //-   i.fa.fa-compress
                .banner-bottom.text-center
                  a(href='/book/' +  book[0].recoms_info[2].title) #{book[0].recoms_info[2].title}
            .col-md-3
              .single-banner
                .product-wrapper
                  a.single-banner-image-wrapper(href='/book/' +  book[0].recoms_info[3].title)
                    img(alt='', src=book[0].recoms_info[3].image_url)
                  .product-description
                    .functional-buttons
                      a(href='#', title='Add to Wishlist')
                        i.fa.fa-heart-o
                      //- a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                      //-   i.fa.fa-compress
                .banner-bottom.text-center
                  a(href='/book/' +  book[0].recoms_info[3].title) #{book[0].recoms_info[3].title}
            .col-md-3
              .single-banner
                .product-wrapper
                  a.single-banner-image-wrapper(href='/book/' +  book[0].recoms_info[4].title)
                    img(alt='', src=book[0].recoms_info[4].image_url)
                  .product-description
                    .functional-buttons
                      a(href='#', title='Add to Wishlist')
                        i.fa.fa-heart-o
                      //- a(href='#', title='Quick view', data-toggle='modal', data-target='#productModal')
                      //-   i.fa.fa-compress
                .banner-bottom.text-center
                  a(href='/book/' +  book[0].recoms_info[4].title) #{book[0].recoms_info[4].title}
    // Related Product Area End
    // Footer Area Start
    include includes/footer.pug
