doctype html
html.no-js(lang='')
  include includes/head.pug
  body
    // Header Area Start
    include includes/header.pug
    // Header Area End
    // Mobile Menu Start
    include includes/mobile-menu.pug
    // Mobile Menu End
    // Breadcrumbs Area Start
    include includes/breadcrumbs.pug
    // Breadcrumbs Area Start
    // Shop Area Start
    .shopping-area.section-padding
      .container
        .row
          .col-md-3.col-sm-3.col-xs-12
            .shop-widget
              .shop-widget-bottom
                aside.widget.widget-seller
                  h2.sidebar-title TOP SELLERS
                  .single-seller
                    .seller-img
                      img(src="https://images.gr-assets.com/books/1447303603l/2767052.jpg", alt='')
                    .seller-details
                      a(href='/book/' + "The Hunger Games")
                        h5 The Hunger Games
                      h5 Suzanne Collins
                  .single-seller
                    .seller-img
                      img(src="https://images.gr-assets.com/books/1255614970l/2.jpg", alt='')
                    .seller-details
                      a(href='/book/' + "Harry Potter and the Order of the Phoenix")
                        h5 Harry Potter and the Order of the Phoenix
                      h5 J.K. Rowling
          .col-md-9.col-sm-9.col-xs-12
            form(action='#')
              .wishlist-right-area.table-responsive
                table.wish-list-table
                  thead
                    tr
                      th.t-product-name Cover
                      th.product-details-comment Title & Author
                      th.w-product-remove Remove
                  tbody
                    tr
                      td.product-image
                        a(href='/book/' +  wish[0].wishInfo[0].title)
                          img(src=wish[0].wishInfo[0].image_url, alt='')
                      td.product-details
                        h4 #{wish[0].wishInfo[0].title}
                        p
                          | #{wish[0].wishInfo[0].author}
                      td.product-remove
                        a(href='/wishlist/remove/' +  wish[0].wishInfo[0].title)
                          i.flaticon-delete
                    tr
                      td.product-image
                        a(href='/book/' +  wish[0].wishInfo[1].title)
                          img(src=wish[0].wishInfo[1].image_url, alt='')
                      td.product-details
                        h4 #{wish[0].wishInfo[1].title}
                        p
                          | #{wish[0].wishInfo[1].author}
                      td.product-remove
                        a(href='/wishlist/remove/' +  wish[0].wishInfo[1].title)
                          i.flaticon-delete
                    tr
                      td.product-image
                        a(href='/book/' +  wish[0].wishInfo[2].title)
                          img(src=wish[0].wishInfo[2].image_url, alt='')
                      td.product-details
                        h4 #{wish[0].wishInfo[2].title}
                        p
                          | #{wish[0].wishInfo[2].author}
                      td.product-remove
                        a(href='/wishlist/remove/' +  wish[0].wishInfo[2].title)
                          i.flaticon-delete
                    tr
                      td.product-image
                        a(href='/book/' +  wish[0].wishInfo[3].title)
                          img(src=wish[0].wishInfo[3].image_url, alt='')
                      td.product-details
                        h4 #{wish[0].wishInfo[3].title}
                        p
                          | #{wish[0].wishInfo[3].author}
                      td.product-remove
                        a(href='/wishlist/remove/' +  wish[0].wishInfo[3].title)
                          i.flaticon-delete
                    tr
                      td.product-image
                        a(href='/book/' +  wish[0].wishInfo[4].title)
                          img(src=wish[0].wishInfo[4].image_url, alt='')
                      td.product-details
                        h4 #{wish[0].wishInfo[4].title}
                        p
                          | #{wish[0].wishInfo[4].author}
                      td.product-remove
                        a(href='/wishlist/remove/' +  wish[0].wishInfo[4].title)
                          i.fa.fa-trash-o
                    tr
                      td.product-image
                        a(href='/book/' +  wish[0].wishInfo[5].title)
                          img(src=wish[0].wishInfo[5].image_url, alt='')
                      td.product-details
                        h4 #{wish[0].wishInfo[5].title}
                        p
                          | #{wish[0].wishInfo[5].author}
                      td.product-remove
                        a(href='/wishlist/remove/' +  wish[0].wishInfo[5].title)
                          i.fa.fa-trash-o
                    tr
                      td.product-image
                        a(href='/book/' +  wish[0].wishInfo[6].title)
                          img(src=wish[0].wishInfo[6].image_url, alt='')
                      td.product-details
                        h4 #{wish[0].wishInfo[6].title}
                        p
                          | #{wish[0].wishInfo[6].author}
                      td.product-remove
                        a(href='/wishlist/remove/' +  wish[0].wishInfo[6].title)
                          i.fa.fa-trash-o
                    tr
                      td.product-image
                        a(href='/book/' +  wish[0].wishInfo[7].title)
                          img(src=wish[0].wishInfo[7].image_url, alt='')
                      td.product-details
                        h4 #{wish[0].wishInfo[7].title}
                        p
                          | #{wish[0].wishInfo[7].author}
                      td.product-remove
                        a(href='/wishlist/remove/' +  wish[0].wishInfo[7].title)
                          i.fa.fa-trash-o
                    tr
                      td.product-image
                        a(href='/book/' +  wish[0].wishInfo[8].title)
                          img(src=wish[0].wishInfo[8].image_url, alt='')
                      td.product-details
                        h4 #{wish[0].wishInfo[8].title}
                        p
                          | #{wish[0].wishInfo[8].author}
                      td.product-remove
                        a(href='/wishlist/remove/' +  wish[0].wishInfo[8].title)
                          i.fa.fa-trash-o
                    tr
                      td.product-image
                        a(href='/book/' +  wish[0].wishInfo[9].title)
                          img(src=wish[0].wishInfo[9].image_url, alt='')
                      td.product-details
                        h4 #{wish[0].wishInfo[9].title}
                        p
                          | #{wish[0].wishInfo[9].author}
                      td.product-remove
                        a(href='/wishlist/remove/' +  wish[0].wishInfo[9].title)
                          i.fa.fa-trash-o
                    tr
                      td.product-image
                        a(href='/book/' +  wish[0].wishInfo[10].title)
                          img(src=wish[0].wishInfo[10].image_url, alt='')
                      td.product-details
                        h4 #{wish[0].wishInfo[10].title}
                        p
                          | #{wish[0].wishInfo[10].author}
                      td.product-remove
                        a(href='/wishlist/remove/' +  wish[0].wishInfo[10].title)
                          i.fa.fa-trash-o
                    tr
                      td.product-image
                        a(href='/book/' +  wish[0].wishInfo[11].title)
                          img(src=wish[0].wishInfo[11].image_url, alt='')
                      td.product-details
                        h4 #{wish[0].wishInfo[11].title}
                        p
                          | #{wish[0].wishInfo[11].author}
                      td.product-remove
                        a(href='/wishlist/remove/' +  wish[0].wishInfo[11].title)
                          i.fa.fa-trash-o
                //- a.btn.button.button-small(title='Save', href='shop.html')
                //-   span
                //-     | Save
                //-     i.fa.fa-chevron-right
            .wishlist-bottom-link
              a.wishlist-single-link(href='/browse')
                i.fa.fa-angle-double-left
                |                                 Back
    // Shop Area End
    // Footer Area Start
    include includes/footer.pug
